GEOSERVER_CONTAINER_NAME=dwg2mvt-geoserver
GEOSERVER_HOST_PORT=18081
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver
GEOSERVER_PUBLIC_URL=http://localhost:18081/geoserver

# Host directory that GeoServer can read published GPKG files from.
# Example:
# GEOSERVER_SHARED_JOBS_DIR=E:/project/dwg2mvt/data
GEOSERVER_SHARED_JOBS_DIR=./jobs
